.alignCenter {
    text-align: center !important;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*lg-page*/
@media (min-width: 1200px) {
    .mainPic {
        height: 800px;
    }
    .secPic {
        height: 350px;
    }
}

/*md-page*/
@media (min-width: 992px) and (max-width: 1199px) {
    .mainPic {
        height: 600px;
    }
    .secPic {
        height: 400px;
    }
}

/*sm-page*/
@media (min-width: 768px) and (max-width: 991px){
    .mainPic {
        height: 400px;
    }
    .secPic {
        height: 400px;
    }
}

/*xs-page*/
@media (max-width: 767px) {
    .mainPic {
        height: 400px;
    }
    .secPic {
        height: 250px;
    }
}

/*desktop page*/
@media (min-width: 992px) {
    .visible-over-block {
        display: block !important;
    }
    .visible-under-flex {
        display: none !important;
    }
    .visible-small-flex {
        display: none !important;
    }
    .appBar {
        display: none !important;
    }
}

/*mobile page*/
@media (min-width: 768px) and (max-width: 991px) {
    .visible-over-block {
        display: none !important;
    }
    .visible-under-flex {
        display: flex !important;
    }
    .visible-small-flex {
        display: none !important;
    }
    .appBar {
        display: flex !important;
    }
    .sticky {
        position: sticky;
    }
}

@media (max-width: 767px) {
    .visible-over-block {
        display: none !important;
    }
    .visible-under-flex {
        display: none !important;
    }
    .visible-small-flex {
        display: flex !important;
    }
    .appBar {
         display: flex !important;
     }
    .sticky {
        position: sticky;
    }
}


.boxed-group {
    border: 1px solid;
    border-color: #d1d5da;
    border-radius: 3px;
}

.boxed-group .subheader {
    font-size: 16px !important;
    font-weight: 600 !important;
    background-color: #f6f8fa;
    /*border: 1px solid rgba(27,31,35,0.15);*/
    /*border-bottom: 0;*/
    /*border-radius: 3px 3px 0 0;*/
}

.productCount {
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #d1d5da;
}


.inlineBlock {
    display: inline-block !important;
}

.floatRight {
    float: right !important;
}


.textRight {
    text-align: right !important;
}

.relative {
    position: relative !important;
}

.block {
    display: block !important;
}

.footerCS {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ededed;
    margin-top: 130px;
    padding-top: 40px;
}


.pt-2 {
    padding-top: 8px !important;
}
.pr-2 {
    padding-right: 8px !important;
}
.pb-2 {
    padding-bottom: 8px !important;
}
.pl-2 {
    padding-left: 8px !important;
}
.py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.pt-4 {
    padding-top: 24px !important;
}
.pr-4 {
    padding-right: 24px !important;
}
.pb-4 {
    padding-bottom: 24px !important;
}
.pl-4 {
    padding-left: 24px !important;
}
.py-4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
.px-4 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.mt-2 {
    margin-top: 8px !important;
}
.mr-2 {
    margin-right: 8px !important;
}

.mb-2 {
    margin-bottom: 8px !important;
}
.ml-2 {
    margin-left: 8px !important;
}
.my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.mx-2 {
    margin-right: 8px !important;
    margin-left: 8px !important;
}
.mt-4 {
    margin-top: 24px !important;
}
.mr-4 {
    margin-right: 24px !important;
}

.mb-4 {
    margin-bottom: 24px !important;
}
.ml-4 {
    margin-left: 24px !important;
}
.my-4 {
    margin-top:24px !important;
    margin-bottom: 24px !important;
}
.mx-4 {
    margin-right: 24px !important;
    margin-left: 24px !important;
}

.flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.font-lg {
    font-size: 24px;
    font-weight: 400;
    margin-right: 5px;
}

.font-md {
    font-size: 18px;
    font-weight: 200;
    margin-left: 5px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.border-bottom {
    border-bottom: 1px #e1e4e8 solid !important;
}

.floatRight {
    float: right;
}

.cursorPointer {
    cursor: pointer;
}



.selectedList {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.absolute {
    position: absolute;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}


.discussionTopicHeader {
    position: relative;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre;
}


.dropZone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font: 17pt bold;
    color: #bbb;
}


.backgroundBlue {
    background-color: rgba(241, 248, 255, .8);
}

.contentsBody {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: pre;
}


.detailTab {
    top: 0px;
    display: table;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    /*border-bottom: solid 1px #b5b5b5;*/
    padding-left: 0;
    background-color: white;
}

.detailTabElement {
    display: table-cell;
    text-align: center;
    width: 15%;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    z-index:0;
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #4a4a4a !important;
    text-decoration: none !important;
    font-size: 14px;
}

.detailTabBorder {
    border: solid 1px #b5b5b5;
}


.detailSelectedTab {
    position: relative;
    border: solid 1px #b5b5b5;
    border-top: solid 2px #851d38;
    border-bottom: 0;
}

td {
    background-color: transparent !important;
}

.selectedProductsTable {
    border: 1px solid #dedede;
    background-color: #f9f9f9;
    padding: 10px 30px 5px 30px;
    margin-bottom: 15px;
}

.comming-soon{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 4px;
}
