.orderDatePrice, .orderByProduct {
    float: left;
}

/* lg-page */
@media (min-width: 1200px) {
    .orderDatePrice {
        width: 25%;
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
    }
    .orderByProduct {
        width: 75%;
    }
    .productList {
        margin: 20px 0;
    }
    .productImage {
        float: left;
        width: 30%;
    }
    .productDesc {
        float: left;
        width: 70%;
    }
    .productTitle {
        font-size: 27px;
        font-weight: bold;
    }
}

/* md-page */
@media (min-width: 992px) and (max-width: 1199px) {
    .orderDatePrice {
        width: 25%;
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
    }
    .orderByProduct {
        width: 75%;
    }
    .productList {
        margin: 15px 0;
    }
    .productImage {
        float: left;
        width: 30%;
    }
    .productDesc {
        float: left;
        width: 70%;
    }
    .productTitle {
        font-size: 24px;
        font-weight: bold;
    }
}

/* sm-page */
@media (min-width: 768px) and (max-width: 991px) {
    .orderDatePrice {
        margin-top: 25px;
        font-size: 20px;
        font-weight: bold;
        width: 25%;
    }
    .orderByProduct {
        width:75%;
    }
    .productList {
        margin: 13px 0;
    }
    .productImage {
        float: left;
        width: 30%;
    }
    .productDesc {
        float: left;
        width: 70%;
    }
    .productTitle {
        font-size: 22px;
        font-weight: bold;
    }
}

/* xs-page */
@media (max-width: 767px) {
    .orderDatePrice {
        width: 25%;
        margin-top: 20px;
        font-size: 14px;
        font-weight: bold;
    }
    .orderByProduct {
        width: 75%;
    }
    .productList {
        margin: 10px 0;
    }
    .productImage {
        margin: 8px 20px;
    }
    .productDesc {
    }
    .productTitle {
        font-size: 18px;
        font-weight: bold;
    }
    .optionTitle {

    }
    .optionsContents {

    }

}